body {
    margin: 0;
    padding: 0;
    font-family: "Jost", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.5;
    background-color: #F2F2F2;
    color: #647196;
    overflow-x: hidden ;
  
  }