body {
  margin: 0 auto;
  padding: 0;
  font-family: "Jost", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
  max-width: 500px;
  box-sizing: border-box;
}

input {
  border: none;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.list-container {
  max-width: 500px;
  width: calc(100% - 40px);
  position: absolute;
  bottom: 0;
  padding: 20px;
  padding-bottom: 45px;
  border-radius: 44px 44px 0px 0px;
  padding-top: 15px;
}

@media only screen and (max-height:500px) {
  .list-container {
    display: none;
  }
}



button {
  border: none;
  cursor: pointer;
}