body {
  margin: 0 auto;
  padding: 0;
  font-family: "Jost", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
  max-width: 500px;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 98vh;
}

input {
  border: none;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.list-container {
  max-width: 94%;
position: absolute;
  top: calc(100% - 300px);
  padding: 25px;
  padding-right: 5px;
padding-bottom: 35px;
  border-radius: 44px 44px 0px 0px;
  padding-top: 10px;
}

.line {
  position: relative;
  margin-bottom: 15px;

  &::after {
    width: 46px;
    height: 3px;
    background: #D9D9D9;
    opacity: 0.89;
    border-radius: 5px;
    content: '';
    position: absolute;
    left: calc(50% - 23px);
  }
}

button {
  border: none;
  cursor: pointer;
}
@media only screen and (max-width:500px){
  body{
    width: 100%;
  }
  .list-container{
    max-width:calc(94% - 3px);
    
  }
}
@media only screen and (max-width:450px){
  .list-container{
    max-width:calc(94% - 4px);
  }
}
@media only screen and (max-width:435px){
  .list-container{
    max-width:calc(94% - 5px);
  }
}
@media only screen and (max-width:415px){
  .list-container{
    max-width:calc(94% - 6px);
  }
}
@media only screen and (max-width:400px){
  .list-container{
    max-width:calc(94% - 7px);
  }
}
@media only screen and (max-width:390px){
  .list-container{
    max-width:calc(94% - 8px);
  }
}
@media only screen and (max-width:365px){
  .list-container{
    max-width:calc(94% - 9px);
  }
}
