.control {
    display: flex;
    width: 80px;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 20px;
}

.control-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    background-image: url(../../img/control-buttton.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size:auto;
}
.control-next-button{
    transform: rotate(180deg);
}
@media only screen and (max-width:800px){
    .control{
        display: none;
    }
}