.live-iframe {
    width: 100%;
    border: none;
    
}

.live-video-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    
}
.live-video{
    margin-bottom: 10px;
}
.live-header {
    width: 100%;
    z-index: 3;
    background-color: #fff;
}

.live-title {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
    padding: 15px;
    position: relative;
   
    &::after{
        position: absolute;
        width: 14px;
        height: 14px;
        content: '';
        background: url(../../assets/img/live.png) no-repeat center center;
        top: calc(50% - 7px);
        right: calc(50% - 34px);
    }
}
.live-control{
    margin-left: 22px;
    margin-top: 10px;
}
@media only screen and (max-width : 800px){
    .live-header {
        position: fixed;
        max-width: 500px; 
        top: 0;
    }
    .live-video-list{
        padding: 50px 0px;
    }
    .live-video-list{
        display: flex;
        flex-direction: column;
    }
    
}
@media only screen and (max-width : 500px){
.live-header{
    left: 0;
}
}