.zikr-header {
    text-align: center;
    margin-bottom: 10px;
    padding: 32px;
    z-index: 1;
position: relative;
    &::after {
        position: absolute;
        width: 64px;
        height: 64px;
        content: '';
        top: 26px;
        right: 100px; 
    }

}

.zikr-header-title {
    text-align: center;
    letter-spacing: -0.04em;
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.04em;

}

.mornings-header {
    background: rgba(6, 163, 156, 1);

    &::after {
        background: url(../../img/zikr1.svg) no-repeat center center;
    }
}

.duolar-header {
    background: rgba(116, 50, 156, 1);

    &::after {
        background: url(../../img/zikr2.svg) no-repeat center center;
    }
}

.evening-header {
    background: rgba(54, 52, 162, 1);

    &::after {
        background: url(../../img/zikr3.svg) no-repeat center center;
    }
}

.zikrlar-header {
    background: rgba(20, 61, 59, 1);

    &::after {
        background: url(../../img/zikr4.svg) no-repeat center center;
    }
}

@media only screen and (max-width:1000px) {
    .zikr-header{
    &::after{
    top: 12px;
    
    }
}
    .zikr-header-title {
        font-size: 28px;
        line-height: 26px;
    }
}


@media only screen and (max-width:800px) {
    .zikr-header {
        position: fixed;
        width: calc(100% - 64px);
        max-width: 436px;
        top: 0;
        left: calc(50% - 250px);
        &::after{
            left: 32px;
        }
    }

}

@media only screen and (max-width:500px) {
    .zikr-header {
        left: 0;
    }
}