.oyat-card{
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    ;
    margin-bottom: 30px;
}
.oyat-uzb-text {
    font-family: "Roboto Slab";
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.04em;
    text-align: left;
    color: black;
    margin-bottom: 10px;
}

.oyat-arab-text {
    margin-bottom: 30px;
}