.buttons {
    background: rgba(2, 2, 2, 0.3);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
    border-radius: 8px;
    padding: 8px 25px;
    color: #fff;
    text-decoration: none;
}