.link-box-body {
    margin-top: 100px;
    position: fixed;
    padding: 20px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    top: 0;
    height: 100vh;
}

.link-box-item {
    margin-bottom: 28px;

    &:last-child {
        margin-bottom: 0;
    }
}

.link-box-list {
    margin-bottom: 60px;
}

.link-box-link {
    display: block;
    text-align: center;
    padding: 10px 35px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    background: #020202;
    border-radius: 32px;
    text-decoration: none;
    position: relative;

    &::after {
        position: absolute;
        width: 30px;
        height: 30px;
        content: '';
        top: 8px;
    }
}

.link-box-name {
    padding-right: 5px;
    &::after {
        background: url(../../img/99name-white.svg) no-repeat center center;
        left: 30px;
    }
}
.link-box-zikr {
    padding-right: 25px;
    &::after {
        background: url(../../img/zikr-white.svg) no-repeat center center;
        left: 60px;
    }
}
.link-box-calendar {
    padding-right: 5px;
    &::after {
        background: url(../../img/calendar-white.svg) no-repeat center center;
        left: 40px;
    }
}
.link-box-map {
    padding-right:25px;
    &::after {
        background: url(../../img/calendar-map.svg) no-repeat center center;
        left: 60px;
    }
}
.link-box-live {
    padding-right: 25px;
    &::after {
        background: url(../../img/live-play.png) no-repeat center center;
        left: 60px;
    }
}
.link-box-info {
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.04em;
    text-align: center;

}

.link-box-author {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.04em;
    text-align: center;
    width: 217px;

}

@media only screen and (max-width:800px) {
    .link-box-body {
        display: none;
    }
}