.book-home {
    color: black;
    position: relative;

    &::after {
        position: absolute;
        left: 0;
        bottom: 50px;
        width: 130px;
        height: 373px;
        content: '';
        background: url(../../assets/img/home-pageafter.png) no-repeat center center;
        background-size: cover;
        z-index: -1;
    }
}

.book-container {
    position: relative;
    height: 100vh;
    max-height: 1010px;
}

.book-home-title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: -0.04em;
    padding-top: 320px;
    position: relative;

    &::after {
        position: absolute;
        width: 224px;
        height: 215px;
        top: 70px;
        left: calc(50% - 112px);
        content: '';
        background: url(../../assets/img/home-page-bg.png) no-repeat center center;
        background-size: cover;
    }

}

.book-home-text {
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: -0.04em;
    color: #000000;
    opacity: 0.7;
    text-align: center;
}

.book-access-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid rgba(138, 138, 138, 1);
    border-radius: 8px;
    padding: 15px 70px;
    margin: 0 auto;
    margin-top: 110px;
    display: block;
    max-width: 100px;
    background-color: #fff;
    z-index: 3;
}
.book-bottom{
    position: fixed;
    bottom: 40px;
}
.book-home-back-button {
    display: block;
    position: absolute;
    right: 0;
    bottom: 40px;
}

.suralar {
    color: #000000;
}

.quron-loader {
    position: absolute;
    width: 116px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 58px);
    background: url(../../assets/img/quron-loader.png) no-repeat center center;
    background-size: cover;
}

.suralar-header {
    position: fixed;
    width: 100%;
    max-width: 500px;
   padding: 10px 0px;
    z-index: 2;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

}
.suralar-bottom-button{
    margin-left: auto;
}
.search-form {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}


.search-input {
    display: block;
    width: calc(50% - 20px);
    background: #EEEEEE;
    border-radius: 8px;
    padding: 10px 45px 12px 10px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.04em;
    margin-left: auto;
    &::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }
    &::placeholder {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #000000;
        opacity: 0.5;
    }
   &:focus{
    outline:2px solid rgb(5, 231, 136);
    background-color: transparent;
   }
    
}
.oyat-input{
    padding-right: 35px;
    width: calc(50% - 70px);
    padding-bottom: 10px;
}

.search-button {
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../../assets/img/search.svg) no-repeat center center;
    top: calc(50% - 10px);
    right: 10px;
}

.suralar-container {
    padding: 70px 0; 
    position: relative;
 
}

.form-title{
    font-size: 25px;
}
.book-bottom{
    position: fixed;
    width: 90%;
    max-width: 450px;
    bottom: 0;
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 5px;
 
}
.suralar-bottom{
    position:fixed;
    width: 90%;
    max-width: 450px;
    bottom: 0;
 
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 5px;
    overflow: hidden;
}
.suralar-button{
    margin-left: auto;
}
.sura{
    color: #000000;
}
.sura-number{
    margin-right: 15px;
    background: url(../../assets/img/number.png) no-repeat center center;
    font-weight: 600;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: -0.08em;
    padding: 8px 6px 5px 5px;
    background-size: contain;
    text-align: center;
    color: #fff;
}
.sura-bottom-wrapper{
    position: fixed;
    width: 90%;
    max-width: 450px;
    bottom: 0;
    padding-bottom: 15px;
    padding-top: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger-button{
    background: url(../../assets/img/menu.svg) no-repeat center center;
}
.sura-button{
    display: block;
    padding: 18px 33px;
    background-color: #020202;
    border-radius: 23px;
}
.play-button{
    background: url(../../assets/img/play-white.svg) no-repeat center center;
    background-color: #020202;
}
.pause-button{
    background: url(../../assets/img/paus-white.svg) no-repeat center center;
    background-color: #020202;
}
.text-button{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.04em;
    padding: 0px 20px;
    color: #FFFFFF;
}
.menu-button{
    background: url(../../assets/img/nuqta.svg) no-repeat center center;
    background-color: #020202;
    
}

@media only screen and (max-width:410px){
    .search-input{
        padding-right: 35px;
    }
}