.bottom {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    max-width: 450px;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 20px;
    z-index: 3;

}

.bottom-button-wrapper {

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-button {
    text-decoration: none;
    font-family: "Jost";
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #fff;
    background: #020202;
    border-radius: 23px;
    padding: 8px 14px;
}
.live-button{
    padding: 8px 21px;
}
.back-button {
    display: block;
    width: 29px;
    height: 29px;
    padding: 3px 18px;
    background: url(../../img/back.svg) no-repeat center center;
    background-color: #020202;

}